@import url("https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;

}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
	background-image: url('https://i.redd.it/3kl5xwskjij51.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	flex-wrap: wrap;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
}

label.logo {
	color: #fff;
	font-size: 2.5em;
	padding: 0 80px;
	font-weight: bold;
	line-height: 80px;
}

nav ul {
	margin-right: 20px;
	width: auto;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}

a.active,
a:hover {
	background-color: #1b9bff;
	transition: 0.5s;
	padding: 17px;
	border-radius: 15px;
}

#checkbtn {
	font-size: 30px;
	color: #fff;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

/*modify : */
@media (max-width: 920px) {
	/*the size and the spacing of the logo when the screen is reduced by 920px*/
	label.logo {
		font-size: 30px;
		padding-left: 30px;
	}

	

	nav ul li a {
		/*the police of the element of the navbar when the screen is reduced by 920px*/
		font-size: 16px;
	}
}

@media (max-width: 858px) {
	/*display the fa-bars */
	#checkbtn {
		display: block;
	}

	nav {
		display: block;
	}

	/*modify the position and the display to fixed and centered of the navbar elements*/
	ul {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul {
		width: 100%;
		height: 80px;
		background: rgba(0, 0, 0, 0.7);
	}

	/*Display the element of the navbar inlined when the fa-bars is checked*/
	nav ul li {
		display: inline;
		margin-bottom: 30px;
	}

	a:hover,
	a.active {
		background-color: none;
		transition: 0.5s;
		padding: 17px;
		border-radius: 15px;
	}

	#check:checked ~ ul {
		left: 0;
	}
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}


.content{
    display: block;
    justify-content: center;
    background-color: rgba(58, 54, 54, 0);
    width: 40%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid rgba(66, 63, 63, 0);
    margin-top: auto;
    margin-bottom: auto;
}

h2{
    font-size: 25pt;
    color: #4a6c72b9;
    position: relative;
    margin-top: 8px;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(82, 77, 77, 0.493)) ;
    animation: animate 2s infinite;
}
@keyframes animate {
    0%, 1%, 20%, 50%, 60%, 80%, 92%{
        border: none;
       color: #4a6c72b9;
       text-shadow: none;
    }

    18%, 20%, 30%, 40.1%, 50.1%, 62%, 70%, 91%,100%{
        color: white;
       text-shadow: 0 0 10px #11cef0,
        0 0 20px #11cef0,
        0 0 40px #11cef0,
        0 0 60px #11cef0,
        0 0 160px #11cef0;
    }
    
}
